{
	"infra": {
		"by": "adminSys_FDN",
		"date": 2020,
		"domaine": "poc.fdn.fr",
		"mail_dmarc": "hostmaster",
		"admin_pa_user": "postmaster",
		"admin_pa_passwd": "changeme123",
		"db_pa_user": "postfix",
		"db_pa_passwd": "changeme_pa",
		"db_rainloop_user": "rainloop",
		"db_rainloop_passwd": "changeme_rl",
		"db_p_user": "mailuser",
		"db_p_passwd": "changeme_p",
		"le_sign": "Y"
	},
	"mail": {
		"description": "Serveur mail",
		"ip": "ipv4",
		"ip6": "ipv6",
		"sous_domaine_mail": "mail",
		"selector": "fdn",
		"mail_dh": "/etc/ssl/",
		"mail_cert": "/etc/ssl/",
		"mail_key": "/etc/ssl/",
		"mail_chain": "/etc/ssl/",
		"mail_fullchain": "/etc/ssl/",
		"doveadm_passwd": "secret_password",
		"rspamd_passwd": "rspamd_password",
		"rspamd_root_passwd": "rspamd_root_password"
	    },
	"web": {
		"description": "Serveur web hébergeant les webapps gérant le server mail",
		"ip": "ipv4",
		"ip6": "ipv6",
		"sous_domaine_webmail": "webmail",
	  	"sous_domaine_pfa": "postfixadmin",
		"sous_domaine_spam": "spam",
		"pub_key": "ssh-rsa XXXXKEYXXXX root@webmail.poc.fdn.fr",
		"web_dh": "/etc/ssl/",
		"rl_cert": "/etc/ssl/",
		"rl_key": "/etc/ssl/",
		"rl_chain": "/etc/ssl/",
		"rl_fullchain": "/etc/ssl/",
		"spam_cert": "/etc/ssl/",
		"spam_key": "/etc/ssl/",
		"spam_chain": "/etc/ssl/",
		"spam_fullchain": "/etc/ssl/",
		"pa_cert": "/etc/ssl/",
		"pa_key": "/etc/ssl/",
		"pa_chain": "/etc/ssl/",
		"pa_fullchain": "/etc/ssl/"
	}
}
